body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.waveforms {
    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center;
    margin-top: 5%;
}

#waveform1, #waveform2 {
    width: 700px;
}

h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 2.3em;
}

button, input {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #6cc0f8;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #125885;
    text-align: center;
    transition: all 0.15s;
    background-color: #97cdf1;
    margin-top: 3%;
}

button:hover {
    color: #0b1820;
    border-color: #8BC6EC;
}

button:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
}

@media all and (max-width:30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}